POSTGRES_DB=satoshiforge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

OPENSEARCH_PORT=9200
OPENSEARCH_PERF_PORT=9600
OPENSEARCH_DASHBOARDS_PORT=5601

BITCOIN_RPC_USER=bitcoin
BITCOIN_RPC_PASSWORD=bitcoinpass
BITCOIN_RPC_PORT=18443
BITCOIN_P2P_PORT=18444
BITCOIN_ZMQ_BLOCK_PORT=28332
BITCOIN_ZMQ_TX_PORT=28333

LND_ALIAS=satoshiforge-lnd
LND_GRPC_PORT=10009
LND_REST_PORT=8080
LND_P2P_PORT=9735

OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
LOKI_PORT=3100
TEMPO_PORT=3200
TEMPO_OTLP_GRPC_PORT=4319
